{% extends 'layouts/page.html' %}

{%- block variables -%}
  {{ super() }}
  {%- set title = 'About' -%}
  {%- set body_class = 'about' -%}
  {%- set path_page = 'about/index.html' -%}
  {%- set styles = ['main', 'about'] -%}
  {%- set scripts = ['main', 'about'] -%}
{%- endblock -%}

{% block summary %}

  <div><a href="{{ path_base }}/">Home</a> | {{ title }}</div>

{% endblock %}

{% block content %}

  {% include 'partials/example-partial.html' %}

  {{ exampleMacro('example-macro', 'example-macro') }}

{% endblock %}
