{%- block head -%}

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title if page.title else site.title }}</title>
  <meta name="description" content="{{ page.description if page.description else site.description }}" />

  {%- for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="{{ paths.root + paths.styles }}/{{ stylesheet }}.css?ver={{ version }}" />
  {% endfor -%}

{%- endblock -%}
