{%- block variables -%}

  {%- set site_brand = 'MyBrandName' -%}
  {%- set site_shortname = 'MyShortName' -%}
  {%- set site_longname = site_brand + '’s ' + site_shortname -%}

  {%- set title = '' -%}
  {%- set body_class = '' -%}

  {% if production %}
    {%- set path_host = 'http://example.com/' -%}
    {%- set path_base = '' -%}
  {% else %}
    {%- set path_host = '/' -%}
    {%- set path_base = '' -%}
  {% endif %}
  {%- set path_full = path_host + path_base -%}
  {%- set path_page = 'index.html' -%}

  {%- set styles = ['main'] -%}
  {%- set scripts = ['main'] -%}

{%- endblock -%}
{%- from 'macros/example-macro.html' import exampleMacro -%}
<!doctype html>
<html dir="ltr" lang="en-US">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body class="{{ body_class }}">
    <div class="site">

      {% include 'partials/header.html' %}

      {% block main %}
      {% endblock %}

      {% include 'partials/footer.html' %}

    </div>

    {% include 'partials/foot.html' %}
  </body>
</html>
