{%- block variables -%}

  {%- set site_brand = 'MyBrandName' -%}
  {%- set site_shortname = 'MyShortName' -%}
  {%- set site_longname = site_brand + ' ' + site_shortname -%}

  {%- set title = '' -%}
  {%- set body_class = '' -%}

  {%- set path_host = 'http://localhost:3000' -%}
  {%- set path_base = '' -%}
  {%- set path_full = path_host + path_base -%}
  {%- set path_page = 'index.html' -%}

  {%- set styles = ['main'] -%}
  {%- set scripts = ['main'] -%}

{%- endblock -%}
{%- from 'macros/example-macro.html' import exampleMacro -%}
<!doctype html>
<html dir="ltr" lang="en-US">
  <head>
    {% include 'partials/head.html' %}
  </head>
  <body class="{{ body_class }}">
    {% block body %}
    {% endblock %}
    {% include 'partials/foot.html' %}
  </body>
</html>
